# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import sys

sys.path.append('../')
# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
df_weather_data = pd.read_csv("../WeatherPy/weather_data.csv")
df_weather_data.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Qaanaaq,77.48,-69.36,-4.75,81,5,2.88,GL,1602827876
1,Kirksville,40.19,-92.58,3.33,74,1,2.10,US,1602828007
2,Mataura,-46.19,168.86,8.89,85,100,4.02,NZ,1602828143
3,Coahuayana Viejo,18.73,-103.68,25.72,89,98,1.44,MX,1602828144
4,Mae Hong Son,19.30,97.97,30.00,66,40,2.10,TH,1602828144

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Configure gmaps with the API Key
gmaps.configure(api_key=g_key)

In [5]:
# Store 'Lat' and 'Lng' into  locations 
locations = df_weather_data[["Lat", "Lng"]].astype(float)

# Convert humidity as float and store
humidity = df_weather_data["Humidity"].astype(float)

In [6]:
# Create a humidity Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
def ftoc(fahrenheit):
    return ((fahrenheit - 32.0)*5/9)

def mphtompers(mph):
    return (mph/2.237)

In [12]:
# Filtering out all the max temperature between 70 and 80 degree Fahrenheit 
df_filtered = df_weather_data[df_weather_data['Max Temp'] < ftoc(80.0)]
df_filtered = df_filtered[df_filtered['Max Temp'] > ftoc(70.0)]

# Filtering so we only have cities with less than 10mph wind speed
df_filtered = df_filtered[df_filtered['Wind Speed'] < mphtompers(10.0)]

# Filtering for zero cloudiness cities only
df_filtered = df_filtered[df_filtered['Cloudiness'] == 0]

df_filtered

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
31,Zorgo,12.25,-0.62,25.53,70,0,3.02,BF,1602828150
84,Virginia Beach,36.85,-75.98,21.67,85,0,0.45,US,1602828060
130,Sakakah,29.97,40.21,22.00,26,0,1.86,SA,1602828173
371,Jumla,29.27,82.18,22.71,26,0,2.64,NP,1602828183
382,Dalbandin,28.89,64.41,23.19,16,0,4.01,PK,1602828232
417,Xai-Xai,-25.05,33.64,24.82,56,0,1.75,MZ,1602828240
441,San Quintín,30.48,-115.95,21.83,56,0,1.91,MX,1602828246

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [15]:
# set up a parameters dictionary
params = {
    "keyword": "Hotel",
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

df_filtered['Hotel'] = ""

In [19]:
# use iterrows to iterate through pandas dataframe
for index, row in df_filtered.iterrows():

    # get target location from df
    target_loc = f"{row['Lat']},{row['Lng']}"

    # add keyword to params dict
    params['location'] = target_loc

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {row['City']}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest hotel in {row['City']} is {results[0]['name']}.")
        
        df_filtered.loc[index, 'Hotel'] = results[0]['name']

    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 31: Zorgo.
Closest hotel in Zorgo is AUBERGE BOULBOUNDRI De ZORGHO.
------------
Retrieving Results for Index 84: Virginia Beach.
Closest hotel in Virginia Beach is Oceanaire Resort Hotel.
------------
Retrieving Results for Index 130: Sakakah.
Closest hotel in Sakakah is Raoum Inn Hotel.
------------
Retrieving Results for Index 371: Jumla.
Closest hotel in Jumla is Shrestha Hotel.
------------
Retrieving Results for Index 382: Dalbandin.
Closest hotel in Dalbandin is Al-Dawood Hotel & Restaurant.
------------
Retrieving Results for Index 417: Xai-Xai.
Missing field/result... skipping.
------------
Retrieving Results for Index 441: San Quintín.
Closest hotel in San Quintín is Old Mill Hotel.
------------

In [32]:
# Cleaning up filtered dataframe so index is correct and dropping anything that does not have Hotel results
df_filtered = df_filtered.reset_index(drop=True)
df_filtered = df_filtered.drop(df_filtered[df_filtered["Hotel"]==""].index)
df_filtered = df_filtered.reset_index(drop=True)
df_filtered

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel
0,Zorgo,12.25,-0.62,25.53,70,0,3.02,BF,1602828150,AUBERGE BOULBOUNDRI De ZORGHO
1,Virginia Beach,36.85,-75.98,21.67,85,0,0.45,US,1602828060,Oceanaire Resort Hotel
2,Sakakah,29.97,40.21,22.00,26,0,1.86,SA,1602828173,Raoum Inn Hotel
3,Jumla,29.27,82.18,22.71,26,0,2.64,NP,1602828183,Shrestha Hotel
4,Dalbandin,28.89,64.41,23.19,16,0,4.01,PK,1602828232,Al-Dawood Hotel & Restaurant
5,San Quintín,30.48,-115.95,21.83,56,0,1.91,MX,1602828246,Old Mill Hotel

In [34]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in df_filtered.iterrows()]
locations = df_filtered[["Lat", "Lng"]]

In [37]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(
    locations,
    info_box_content= hotel_info
)

# Display figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))